ul#mainMenu, ul {
	color: 000000;
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: left;
}
ul a {
    text-align: center;
}
ul#mainMenu ul li {
	_margin-bottom: -3px;
}
ul#mainMenu li {
	float: left;
	padding: 1px;
	width: 156px;
	_margin-bottom: 0px;
}
ul#mainMenu a:hover {
    background: #ffffff;
}
ul#mainMenu a {
	padding: 5px 0px 5px 0px;
	color: black;
	background-color: #e6e6e6;
	display: block;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #b8b8b8;
}
ul#mainMenu ul a {
	padding-left: 2px;
	border-bottom: 1px solid #b8b8b8;
	border-top: none;
}
ul#mainMenu ul a:hover {
	color: blue;
	background-color: #ffffff;
}
ul#mainMenu ul {
    position: absolute;
	z-index: 2;
	visibility: hidden;
	background-color: white;
}
ul#mainMenu li:hover ul, ul#mainMenu li.hover ul {
	visibility: visible;
}
ul#mainMenu li li {
	float: none;
	border: none;
	padding: 0;
}
ul#mainMenu li {
	behavior: url(hover.htc);

}


#menu {
  display:inline;  
}

a.menuitem {
  width:154px;
  _width: 156px;
  height: 18px;
  display:inline;
  border: 1px solid #b8b8b8;
  padding: 5px 0px 5px 0px;
  background-color: #e6e6e6;
  font-weight:bold;
  text-decoration: none;
  color:black;
  float: left;
  margin: 1px;
}

a.menuitem:hover {
  background: #ffffff;
}
