* {
	padding: 0;
	margin: 0;
}
html, body {
	font-family: Georgia, Tahoma, Verdana, Arial, lucida, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-align: center;
	margin-bottom: 10px;
}
#content {
    text-align:center;
	width: 950px;
	margin: 20px auto;
	_width: 965px;;
}
#head {
    text-align:left;
    height: 60px;
}
#logo {
    text-align:left;
    float: left;
}
#selchar {
    text-align:left;
    margin-top: 20px;
    float: right;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
}
#text {
    text-align:left;
    _position: relative;
    _left: -1px;
    padding: 20px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: #e6e6e6;
	border: 1px solid #b8b8b8;
	width: 588px;
	_width: 603px;
	float: left;
	min-height: 500px;
	margin-bottom: 2px;
}
#other {
    _position: relative;
    _left: 1px;
    margin-top: 1px;
    margin-right: 5px;
    _margin-right: 3px;
	width: 312px;
	float: right;
	min-height: 500px;
}
.box {
  text-align:left;
  padding: 20px;
  background-color: #e6e6e6;
  border: 1px solid #b8b8b8;
  width: 272px;
  margin-bottom: 2px;
  padding-left: 30px;
  padding-right: 10px;
}

#foot, #page {
    padding: 20px;
    margin-left: 1px;
    background-color: #e6e6e6;
	border: 1px solid #b8b8b8;
	width: 904px;
	_width: 919px;
	float: left;
	_position: relative;
    _left: -1px;
    margin-bottom: 10px;
    height: 20px;
}

table.char_info {
  width: 265px;
}

input {
  text-align:center;
}
.table th {
  text-align:center;
}

.table {
    margin: 10px auto;
    border: 1px solid #b8b8b8;
    background: rgb(237,237,237);
    width: 600px;
    border-collapse: collapse;
    text-align: center;

}

.table td {
    border: 1px solid #b8b8b8;
    padding: 5px 5px 5px 5px;
}

.table th {
    border: 1px solid #b8b8b8;
    padding: 2px 5px 2px 5px;
}

.center {
    text-align: center;
}

input.login {
	display: block;
	border: 1px solid #b8b8b8;
	background: #ffffff;
	text-align: center;
	width: 150px;
	height: 30px;
	padding: 5px;
	margin: 5px auto 5px auto;
}
#button {
	width: 150px;
	height: 30px;
}

.popup {
    margin: 10px auto;
    border: 1px solid #b8b8b8;
    background: rgb(237,237,237);
    Border-collapse: collapse;
}

.error {
  color:red;
  font-weight:bold;
}

.success {
  color: green;
  font-weight:bold;
}
#img_error {
width:30px;
height:29px;
background: url('../img/error.png');
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='./templates/img/error.png',sizingMethod='scale');
_background: none;
}

#img_ok {
width:30px;
height:29px;
background: url('../img/ok.png');
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='./templates/img/ok.png',sizingMethod='scale');
_background: none;
}

img.flag {
    width: 25px;
    position:relative;
    top:5px;
    border: none;
  }

.table tr:hover {
  background-color:white;
}

textarea {
    margin: 10px auto;
    border: 1px solid #b8b8b8;
    background-color: #ffffff;
    width: 300px;
    Border-collapse: collapse;
    overflow: hidden;
}

select {
	display: block;
	border: 1px solid #b8b8b8;
	background: #ffffff;
	text-align: center;
        align: center;
	_width: 160px;
	_height: 40px;
	_padding: 5px;
	margin: 5px auto 5px auto;
}

.accept {
  position: relative;
  bottom: 1px;
}

.del {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
th a {
  color:black;
  font-weight:bold;
}
a:visited {
  color:blue;

}

textarea.banner {
  width: 450px;


}
