/* CSS Document */

.hodnoceni-hvezdami 
{ 
list-style:none; 
margin: 0px; 
padding:0px; 
width: 150px; 
height: 30px; 
position: relative; 
background: url("../img/star.gif") top left repeat-x; 
} 

.hodnoceni-hvezdami li 
{ 
padding:0px; 
margin:0px; 
/*\*/ 
float: left; 
/* */ 
} 

.hodnoceni-hvezdami li a 
{ 
display:block; 
width:30px; 
height: 30px; 
text-decoration: none; 
text-indent: -9000px; 
z-index: 20; 
position: absolute; 
padding: 0px; 
} 

.hodnoceni-hvezdami li a:hover 
{ 
background: url("../img/star.gif") left center; 
z-index: 2; 
left: 0px; 
} 

.hodnoceni-hvezdami a.jedna-hvezda 
{ 
left: 0px; 
} 

.hodnoceni-hvezdami a.jedna-hvezda:hover 
{ 
width:30px; 
} 

.hodnoceni-hvezdami a.dve-hvezdy 
{ 
left:30px; 
} 
.hodnoceni-hvezdami a.dve-hvezdy:hover 
{ 
width: 60px; 
} 

.hodnoceni-hvezdami a.tri-hvezdy 
{ 
left: 60px; 
} 

.hodnoceni-hvezdami a.tri-hvezdy:hover 
{ 
width: 90px; 
} 

.hodnoceni-hvezdami a.ctyri-hvezdy 
{ 
left: 90px; 
} 

.hodnoceni-hvezdami a.ctyri-hvezdy:hover 
{ 
width: 120px; 
} 

.hodnoceni-hvezdami a.pet-hvezd 
{ 
left: 120px; 
} 

.hodnoceni-hvezdami a.pet-hvezd:hover 
{ 
width: 150px; 
} 

.hodnoceni-hvezdami li.current-rating 
{ 
background: url("../img/star.gif") left bottom; 
position: absolute; 
height: 30px; 
display: block; 
text-indent: -9000px; 
z-index: 1; 
}

.hodnoceni-hvezdami li div 
{ 
display:block; 
width:30px; 
height: 30px; 
text-decoration: none; 
text-indent: -9000px; 
z-index: 20; 
position: absolute; 
padding: 0px; 
} 
