<h2>{add_server_h2}</h2>
<span class="error" style="display: {error_blok}">{error_msg}</span>
  <form method="post" style="display: {form_blok}">
      <table class="table">
      <tr class="table">
        <td align="left">{form_name_server}</td>
        <td align="center"><input class="login" type="text" name="name" value="{input_name}"></td>
      </tr>
      <tr class="table">
        <td align="left">Verze</td>
        <td align="center"><input class="login" type="text" name="version" value="{input_version}"></td>
      </tr>
      <tr class="table">
        <td align="left">Emulator</td>
        <td align="center"><input class="login" type="text" name="emu" value="{input_emu}"></td>
      </tr>
      <tr class="table">
        <td align="left">{form_type_server}</td>
        <td align="center"><select name="type" class="login">
                            <option value="PvP" {select_pvp}>PvP</option>
                            <option value="RP" {select_rp}>RP</option>
                            <option value="PvPRP" {select_pvprp}>PvPRP</option>
                            <option value="PvE" {select_rppvp}>PvE</option>
                          </select></td>
      </tr>
      <tr class="table">
        <td align="left">XP Rate</td>
        <td align="center"><select name="xp" class="login">
                            <option value="1" {xp1}>Very low</option>
                            <option value="2" {xp2}>Low</option>
                            <option value="3" {xp3}>Normal</option>
                            <option value="4" {xp4}>High</option>
                            <option value="5" {xp5}>Very high</option>
                          </select></td>
      </tr>
      <tr class="table">
        <td align="left">Limit</td>
        <td align="center"><input type="text" class="login" name="limit" value="{input_limit}"></td>
      </tr>
      <tr class="table">
        <td align="left">{info_avarage_players}</td>
        <td align="center"><input type="text" class="login" name="sum" value="{input_sum}"></td>
      </tr>
      <tr class="table">
        <td align="left">{form_place_server}</td>
        <td align="center"><select name="place" class="login">
                            <option value="1" {place1}>{input_czech_server}</option>
                            <option value="2" {place2}>{input_abroad_server}</option>
                           </select></td>
      </tr>
      <tr class="table">
        <td align="left">{form_web_page}</td>
        <td align="center"><input type="text" name="web" class="login" value="{input_web}"></td>
      </tr>
      <tr class="table">
        <td align="left">{form_web_reg}</td>
        <td align="center"><input type="text" name="web_reg" class="login" value="{input_reg}"></td>
      </tr>
      <tr class="table">
        <td  align="left">Ip adrress</td>
        <td align="right"><input type="text" name="ip" value="{ip}" class="login"></td>
      </tr>
      <tr class="table">
        <td align="left">Port</td>
        <td align="center"><input type="text" name="port" value="{port}" class="login"></td>
      <tr class="table">
        <td align="left">{form_desc}</td>
        <td align="right"><textarea rows="4" wrap="soft" maxlenght="500" name="desc"s>{input_desc}</textarea></td>
      </tr>
      <tr class="table">
        <td colspan="2" align="center"><h3>{add_server_rules_h3}</h3><p align="left">{add_server_rules}</p></td>
      </tr>
      <tr class="table">
        <td colspan="2" align="center"><input id="accept"  type="checkbox" name="accept" value="1" class="accept"> <label for="accept">{accept_rules}</label></td>
      </tr>
      <tr class="table">
          <td colspan="2" align="center">{captcha}</td>
      </tr>
      <tr class="table">
        <td colspan="2" align="center"><input type="submit" class="login"></td>
      </tr>
    </table>
  </form>

<span class="success" style="display: {success_blok}">{success_msg}</span>
