<div id="content">
  <div id="head">
    <div id="logo">
      <h1>WoW Server Status</h1>
    </div>

    <span id="selchar">
        <a href="action.php?do=language&amp;lang=cs"><img src="./templates/img/cs.jpeg" alt="Česky" title="Česky" class="flag"></a>
        <a href="action.php?do=language&amp;lang=en"><img src="./templates/img/en.jpeg" alt="Anglicky" title="Anglicky" class="flag"></a>
    </span>
  </div>

  <div id="page">
    {banned_msg}
  </div>

  <div id="foot"> {footer}
  </div>
</div>
