<h3>{comment_h3} - {server_name}</h3>
<span class="success" style="text-align: center; display: {success_blok}">{added_comment}</span>
<table class="table" style="width: 500px">

{comments_data}

</table>
<b>{add_comment}</b>
<div class="table" style="text-align: center; display: {add_comment_blok}">
  <form method="post" action="{url_to_post}">
    <textarea rows="5" name="text"></textarea><br>
    <input type="submit" class="login">
  </form>
</div>
<table class="table" style="text-align:center; {deny_adding_blok}"><tr><td> {deny_adding_msg}</td></tr></table>
