 {error}
<form method="post">
  <input type="text" value="{name}" onfocus="this.value=''" name="login" class="login">
  <input type="password" value="password" onfocus="this.value=''" name="password" class="login">
  <input type="submit" class="login">
</form> {botom}
