<h3>Registrace</h3>
<span class="error" style="display: {blok_error}">{error_msg}</span>
<table class="table" cellspacing="0" cellpading="0" style="display: {blok_1}; width: 360px">
<form method="post">
  <tr>
    <td align="left" width="150">{name}</td>
    <td align="right" width="160"><input class="login" type="text" name="name" value="{form_name}" id="name" onblur="request('action.php?do=checkl&amp;login='+this.value, document.getElementById('img_login'))"></td>
    <td align="right" id="img_login" width="40"></td>
  </tr>
  <tr>
    <td align="left" width="150">{pass}</td>
    <td align="right" width="160"><input class="login" type="password" name="pass1" id="pass1"></td> 
    <td align="right" width="40"></td>   
  </tr>
  <tr>
    <td align="left" width="150">{pass_again}</td>
    <td align="right" width="160"><input class="login" type="password" name="pass2" id="pass2" onblur="request('action.php?do=check&amp;p1=' + document.getElementById('pass1').value + '&amp;p2=' + this.value, document.getElementById('img_pass'))"></td>
    <td align="right" id="img_pass" width="40"></td>
    
  </tr>
  <tr>
    <td align="left" width="150"> E-mail</td>
    <td align="right" width="160"><input class="login" type="text" name="email" id="email" value="{form_email}" onblur="request('action.php?do=checke&amp;email='+this.value, document.getElementById('img_email'))"></td>
    <td align="left" id="img_email" width="40"></td>
  </tr>
  <tr >
    <td colspan="3"><input type="submit" value="Registrovat" class="login"></td>
  </tr>
</form>
</table>

<span class="success" style="display: {blok_2}">{regiter_success}</span>
