<table class="table" >
  <tr class="table">
    <th align="left">
      {server_name}
    </th>
    <td align="right">
      <ul class="hodnoceni-hvezdami">
      {rating_stars}
      </ul></td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{th_version}</strong></td>
    <td align="center">
      {server_version}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{th_type}</strong></td>
    <td align="center">
      {server_typ}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{th_xp}</strong></td>
    <td align="center">
      {server_xp}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>Limit</strong></td>
    <td align="center">
      {server_limit}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{info_avarage_players}</strong></td>
    <td align="center">
      {server_online_players}</td>
  </tr>
 
  <tr class="table">
    <td align="left">
      <strong>{th_online_state}</strong></td>
    <td align="center">
      {server_online}</td>
  </tr>
  
  <tr class="table">
    <td align="left">
      <strong>{th_latency}</strong></td>
    <td align="center">
      {server_latency}</td>
  </tr>

  <tr class="table">
    <td align="left">
      <strong>Emulator</strong></td>
    <td align="center">
      {server_emu}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{info_place}</strong></td>
    <td align="center">
      {server_place}</td>
  </tr>
  <tr class="table">
    <td align="left"><strong>{info_added}</strong></td>
    <td align="center">{server_added}
  </tr>
   <tr class="table">
    <td align="left">
      <strong>Web</strong></td>
    <td align="center">
      {server_web}</td>
  </tr>
   <tr class="table">
    <td align="left">
      <strong>Registrace</strong></td>
    <td align="center">
      {server_web_reg}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>Port</strong></td>
    <td align="center">
      {server_port}</td>
  </tr>
  <tr class="table">
    <td align="left">
      <strong>{info_owner}</strong></td>
    <td align="center">
      {server_owner}</td>
  </tr>
  <tr class="table">
  <td align="left"><strong>{server_reg_desc}</strong></td>
  <td><p align="justify">{server_description}</p></td></tr>
  {admin}
</table>

<table class="table" style="text-align: center"><tr><td>{comments}</td></tr></table>
