<h2>České servery</h2>
<div class="table">
<b>{order_by}:</b>  <select onchange="location.href='index.php?page=servers&amp;order='+this.selectedIndex">
    <option {s0}>{th_name}</option>
    <option {s1}>{th_rating}</option>
    <option {s2}>{th_version}</option>
    <option {s3}>{th_type}</option>
    <option {s4}>{th_xp}</option>
    <option {s5}>{th_players}</option>
    <option {s6}>{th_online_state}</option>
    <option {s7}>{th_latency}</option>
    <option {s8}>{th_created}</option>
  </select>
</div>
<div class="table">
{pager}
</div>

<table class="table">
<tr>
  <th><img src="templates/img/hvezda.gif" alt="{th_recommend}" title="{th_recommend}"></th>
  <th>{th_name}</th>
  <th>{th_rating}</th>
  <th>{th_version}</th>
  <th>{th_type}</th>
  <th>{th_xp}</th>
  <th>{th_players}</th>
  <th>{th_online_state}</th>
  <th>{th_latency}</th>
</tr>
{servers_data}
</table>

<div class="table" style="text-align: center; width: 500px">
{pager}
</div>
