<table class="table">
  <tr class="table">
    <th colspan="2">{user_name}</th>
  </tr>
  {user_email}
  <tr class="table">
    <td align="left"><b>{info_num_of_servers}</b></td>
    <td align="center">{user_num_of_servers}</td>
  </tr>
  <tr class="table">
    <td align="left"><b>{info_servers}</b></td>
    <td align="center">{user_servers}</td>
  </tr>
  <tr class="table">
    <td align="left"><b>{info_num_of_comments}</b></td>
    <td align="center">{user_num_of_comments}</td>
  </tr>
  {admin}
</table>
