<h2>{users}</h2>
<div class="table" style="text-align: center">
{pager}
</div>

<table class="table">
  <tr class="table">
    <th>{th_name}</th>
    <th>{th_num_of_servers}</th>
    <th>{th_num_of_comments}</th>
  </tr>
{data}
</table>

<div class="table" style="text-align: center;">
{pager}
</div>
